<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='../static/css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
<div class="fullBody">
    <div class="menu">
        <a href="{{ url_for('index') }}">Main Page</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('addAnnouncement') }}">Add announcement</a>
        {% else %}
            <a href="{{ url_for('login') }}">Your need to login or sign up for create an annnouncement</a>
        {% endif %}

        <a href="{{ url_for('allCities') }}">The list of all cities</a>
        {% if current_user.is_authenticated %}
            <a href=" {{ url_for('editUser' , id = current_user.id) }}  ">Edit profile</a>
        {% endif %}
        <div class="auth">
            {% if not current_user.is_authenticated %}
                <a href=" {{ url_for('login') }}">Log in</a>
                <a href=" {{ url_for('signUp') }}">Sign Up</a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <a href=" {{ url_for('logout') }}">Log out</a>
            {% endif %}
        </div>
        {% if current_user.is_authenticated %}
            <h1>Hello, {{ current_user.name + " " + current_user.surname }}</h1>
        {% endif %}

        <hr>
    </div>
    {% block body %}

    {% endblock %}
</div>
</body>
</html>