{% extends 'base.html' %}

{% block head %}
    <title>Main page</title>
{% endblock %}

{% block body %}

    <h1>House detail</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Location</th>
            <th>Type</th>
            <th>Rooms</th>
            <th>Description</th>
            <th>DateCreation</th>
        </tr>
            <tr>
                <th><a href="house/{{ house.id }}">{{ house.id }}</a></th>
                <th>{{ house.title }}</th>
                <th>{{ house.price }}</th>
                <th>{{ house.location }}</th>
                <th>{{ house.type }}</th>
                <th>{{ house.rooms }}</th>
                <th>{{ house.description }}</th>
                <th>{{ house.dateCreation }}</th>
                {% if house.author_id == user_id %}
                    <th><a href="house/edit/{{ house.id }}">Edit</a></th>
                    <th><a href="house/delete/{{ house.id }}">Delete</a></th>
                {% endif %}
            </tr>
    </table>

{% endblock %}
