<table class="table table-hover table-bordered">
    <tr class="headers">
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Location</th>
        <th>Type</th>
        <th>Rooms</th>
        <th>Description</th>
        <th>DateCreation</th>
        <th>Owner</th>
        <th colspan="2">Edit/Delete</th>
    </tr>
    {% for house in houses %}
        <tr>
            <th>{{ house.id }}</th>
            <th><a href="/house/{{ house.id }}">{{ house.title }}</a></th>
            <th>{{ house.price }}</th>
            <th><a href="/search/city/{{ house.location }}">{{ house.location }}</a></th>
            <th>{{ house.type }}</th>
            <th>{{ house.rooms }}</th>
            <th>{{ house.description }}</th>
            <th>{{ house.dateCreation }}</th>
            <th><a href="/user/{{ house.author_id }}">{{ house.author }}</a></th>
            {% if house.author_id == current_user.id %}
                <th><a href="/house/edit/{{ house.id }}">Edit</a></th>
                <th><a href="/house/delete/{{ house.id }}">Delete</a></th>
            {% else %}
                <th colspan="2">Not permitted</th>
            {% endif %}
        </tr>
    {% endfor %}
</table>