{% extends 'base.html' %}

{% block head %}
    <title>Main page</title>
{% endblock %}

{% block body %}
    <h1>The list of all houses</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>phone_number</th>
            <th>birthday</th>
            <th>email</th>
        </tr>
            <tr>
                <th>{{ user.name }}</th>
                <th>{{ user.surname }}</th>
                <th>{{ user.phone_number }}</th>
                <th>{{ user.birthday }}</th>
                <th>{{ user.email }}</th>
{#                {% if house.author_id == user_id %}#}
{#                    <th><a href="house/edit/{{ house.id }}">Edit</a></th>#}
{#                    <th><a href="house/delete/{{ house.id }}">Delete</a></th>#}
{#                {% endif %}#}
            </tr>
    </table>

{% endblock %}
