{% extends 'base.html' %}

{% block head %}
    <title>User Details</title>
{% endblock %}

{% block body %}
    <h1>User Details</h1>

    <table class="table table-hover">
        <tr class="header">
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone_number</th>
            <th>Birthday</th>
            <th>Email</th>

        </tr>
        <tr>
            <th>{{ user.id }}</th>
            <th>{{ user.name }}</th>
            <th>{{ user.surname }}</th>
            <th>{{ user.phone_number }}</th>
            <th>{{ user.birthday }}</th>
            <th>{{ user.email }}</th>

            {#            {% if house.author_id == user_id %}#}
            {#                <th><a href="house/edit/{{ house.id }}">Edit</a></th>#}
            {#                <th><a href="house/delete/{{ house.id }}">Delete</a></th>#}
            {#            {% endif %}#}
        </tr>
    </table>

    <h1>The list of user's houses</h1>

    {% include 'template_table_house.html' %}

{% endblock %}
